
.situacao_nota_pendente {
    display: inline;
    padding: .2em .6em .3em;
    font-weight: 700;
    line-height: 1;
    border-radius: .25em;
    background-color: #49afcd;;
    color: #ffffff;
}

.situacao_nota_autorizada {
    display: inline;
    padding: .2em .6em .3em;
    font-weight: 700;
    line-height: 1;
    border-radius: .25em;
    background-color: #5cb85c;
    color: #ffffff;
}

.situacao_nota_rejeitada {
    display: inline;
    padding: .2em .6em .3em;
    font-weight: 700;
    line-height: 1;
    border-radius: .25em;
    background-color: #d15b47;
    color: #ffffff;
}

.situacao_nota_cancelada {
    display: inline;
    padding: .2em .6em .3em;
    font-weight: 700;
    line-height: 1;
    border-radius: .25em;
    background-color: #3a87ad;
    color: #ffffff;
}