body {
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	color: #666;
}

.table th, .table td {
	padding: 0px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
	border-top: 1px solid #ddd;
}