/*Laranja: #EE9B35, Amarelo: #FFF500, Verde: #81C45D*/
@font-face {src: url(/../fonts/adlibn.ttf); font-family: adlibn;}
@font-face {src: url(/../fonts/gosmiksans.ttf); font-family: gosmiksans;}

body {font-family: gosmiksans; font-size: 20px; overflow-x: hidden;}

.navbar-default {font-family: adlibn; border: none; font-size: 15px; background-color: transparent;}
.navbar-default > .navbar-collapse > .navbar-nav > li.dropdown.open > a,
.navbar-default > .navbar-collapse > .navbar-nav > li.active > a {background-color: #FFF500; border-radius: 10px;}

.dropdown-large {position: static !important;}
.dropdown-large a {border-radius: 10px;}
.dropdown-menu-large {width: 100%; border: solid 2px #FFF500; border-radius: 10px;}
.dropdown-menu-large > div > li {vertical-align: middle; margin-bottom: 20px;}
.dropdown-menu-large > div > li > a {color: #81C45D; white-space: nowrap;}

.dropdown-menu-large {margin-left: 16px; margin-right: 16px; padding: 20px 0px;}

input[type="submit"] {margin-top: 10px;}
.btn-primary {background-color: #EE9B35; border: none;}
.btn-primary:hover {background-color: #81C45D; border: none;}


#barraBotoes a {margin-top: 15px;}
#barraBotoes .fa {font-size: 50px; color: #EE9B35;}
#detalhesContato {font-size: 20px; line-height: 40px;}
#detalhesContato .fa {color: #81C45D;}
#mapaSite {background-color: #81C45D;}
#mapaSite .subtitulo {color: #FFF500;}
#mapaSite a {color: #fff;}
#mapaSite .fa {font-size: 40px;}
#rodape {padding: 25px;}

.titulo {font-family: adlibn; font-size: 35px; padding: 20px;}
.subtitulo {font-family: adlibn; font-size: 20px;}
.descricao {color: #555; padding-bottom: 50px !important;}
.centralizado {text-align: center;}


.justificado {text-align: justify; margin-right: 30px;}
.linksMapaSite > li {padding: 0; margin: 0; list-style: none;}


.botao2 {background-color: #FFF500; color: #000; font-size: 20px;}
.botao2:hover {color: #EE9B35;}
.botao3 {background-color: #81C45D; color: #fff; font-size: 20px;}

.linhaMenu {margin-left: 15px; margin-right: 10px;}
.separador {border: solid 1px #000;}

td {width: 25%;}

.table-bordered,
.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {border: none;}

img {max-width: 100% !important;}


@media (max-width: 768px) {
    .dropdown-menu-large {margin-left: 0; margin-right: 0;}
    .dropdown-menu-large > li {margin-bottom: 30px;}
    .dropdown-menu-large > li:last-child {margin-bottom: 0;}
}

@media screen and (max-width: 767px) {.carousel-caption {font-size: 15px;}}
@media screen and (min-width: 768px) {.carousel-caption {font-size: 40px; text-shadow: 2px 0px 0px #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000; line-height: 38px !important; left: 10%; right: 10%;}}

@media screen and (max-width: 500px) {.direita {text-align: right;}}
@media screen and (min-width: 501px) {.direita {text-align: right;}}

@media screen and (max-width: 500px) {.esquerda {text-align: left;}}
@media screen and (min-width: 501px) {.esquerda {text-align: left;}}

@media screen and (max-width: 1199px) {.linksMapaSite {font-size: 15px;} .subtitulo {font-size: 18px;}}
@media screen and (min-width: 1200px) {.linksMapaSite {font-size: 17px;} .subtitulo {font-size: 20px;}}



@media screen and (min-width: 768px) {.parceiro {width: 15%;margin-left: 15%;}}
@media screen and (max-width: 600px) {.parceiro {width: 50%;margin-top: 10%;}}

@media screen and (min-width: 768px) {.barraChamada {padding: 20px; font-size: 30px; font-family: adlibn; color: #81C45D; margin-top: 4%; margin-left: -5%;}}
@media screen and (max-width: 600px) {.barraChamada {font-size: 10px; font-family: adlibn; color: #81C45D; margin-top: 4%; margin-left: -5%;margin-bottom: 5%;}}

@media screen and (min-width: 768px) {.casinha {width: 60%;margin-left: -10%;}}
@media screen and (max-width: 600px) {.casinha {width: 100%;margin-left: -10%;}}

@media screen and (min-width: 768px) {.barraBotoes {padding-top: 0px; padding-bottom: 30px; font-size: 13px;margin-left: 7%;}}
@media screen and (max-width: 600px) {.barraBotoes {padding-top: 0px; padding-bottom: 30px; font-size: 10px;margin-left: -10%;}}

@media screen and (min-width: 768px) {.logotipo {padding-left: 30%;}}
@media screen and (max-width: 600px) {.logotipo {width: 50%;margin-left: 20%;margin-top: -20%}}

@media screen and (min-width: 768px) {.botao1 {background-color: #81C45D; color: #000; font-size: 17px;}}
@media screen and (max-width: 600px) {.botao1 {background-color: #81C45D; color: #000; font-size: 8px;}}

@media screen and (min-width: 768px) {.Input01 {border: 2px solid #699841;border-radius: 4px;font-size: 20px;}}
@media screen and (max-width: 600px) {.Input01 {border: 2px solid #699841;border-radius: 4px;font-size: 10px;}}


