#flashMessageB, #authMessageB {
    float: left;
    clear: left;
    margin: 0px;
    margin-top: 2px;
    margin-bottom: 5px;
    border-radius: 10px;
    width: 90%;
}

#flashMessage, #authMessage {
    float: right;
    border-radius: 10px;
    width: 30%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    text-align: left;
    margin-left: 64%;
    cursor: pointer;
}

.info-msg, .success-msg, .warning-msg, .error-msg, .validation-msg, .message {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    float:left;
    position: relative;
}
.info-msg, .message  {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../img/info.png');
    display: none;
}

.success-msg {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../img/success.png');
    display: none;
}
.warning-msg {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../img/warning.png');
    display: none;
}
.error-msg {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../img/error.png');
    display: none;
}
